<p>亲爱的{{ username }}:</p>
<p>&nbsp;&nbsp;&nbsp;感谢您的注册,请点击下方的链接进行激活,成为VIP一员,享受更多优惠</p>

<a href="{{ active_url }}">请点击</a>
<p>&nbsp;&nbsp;&nbsp;如上述链接失效,请将下方链接复制到浏览器中！</p>
<p>{{ active_url }}</p>

<p>&nbsp;&nbsp;&nbsp;欢迎您的加入！</p>
<p>来自爱鲜蜂的全体员工</p>

<span><h1>等一下!</h1></span>
<span><h2>我老公呢！</h2></span>
<h2>以下是一则寻人启事</h2>
<span>由于我们CEO的老公跑路了</span>
<span>有知情下落者,请拨打下方的联系电话,定重谢！</span>
<br>
<span>个人信息</span>
<br>
<span>姓名:朱文爱
<br>
    性别：男
    <br>
    特点：干啥啥不行,吃啥啥不剩
    <br>
    外貌:全身上下,贯穿一个字'帅',才艺没啥才艺,会电烙铁,长像汪苏泷,酷爱TFboys.
</span>

<h1>联系电话:15510177440</h1>
